@import "tailwindcss";

body {
    margin: 0;
    padding: 0;
    background-image: url('/17580.avif');
    background-size: cover; /* Ensures the image covers the entire viewport */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-attachment: fixed; /* Keeps the image fixed during scrolling */
}

/* Infinite horizontal scroll animation for carousels */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}
.animate-scroll {
    animation: scroll 20s linear infinite;
}

/* For Webkit browsers (Chrome, Safari) */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For Firefox */
.scrollbar-hide {
    scrollbar-width: none; /* Firefox */
}

/* For IE and Edge (older versions) */
.scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
}
